@using MyBlog.Models;
@using System.Data.Entity;
@model ErrorModel
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_MyBlogBigLayout.cshtml";
}
<!-- Post -->
<section class="post">
    <header class="major">
        <h1>Error!</h1>
    </header>

    <!-- Text stuff -->
    <h2>Shit</h2>
    <p>@ViewBag.errorModel.errorTitle</p>

    <!-- Preformatted Code -->
    <h2>Debugging view</h2>
    <pre><code>@ViewBag.errorModel.errorCode
</code></pre>

</section>