
@{
    ViewBag.Title = "ShowSelectedArticle";
    Layout = "~/Views/Shared/_MyBlogBigLayout.cshtml";
}

<!-- Post -->
<section id="postDetailView" class="post" ng-app="postManager" ng-controller="getSelectedPostDetail" ng-init="getSelectedPostDetailFromServer(@ViewBag.article.articleID)">
    <header class="major">
        <span class="date">@*@ViewBag.article.uploadDateTime*@{{ articleInfoData["uploadDateTime"] }}</span>
        <h1>
            #@*@ViewBag.article.articleID @ViewBag.article.title*@{{ articleInfoData["articleID"] }} {{ articleInfoData["title"] }}
        </h1>
        <p>
            @*@ViewBag.article.highlightText*@{{ articleInfoData["highlightText"] }}
        </p>
    </header>
    <div class="image main"><img src="{{ articleInfoData['imgUrl'] }}" alt="" /></div>@*@ViewBag.article.imgUrl*@
    <p>@*@ViewBag.article.articleContent*@{{ articleInfoData["articleContent"] }}</p>
</section>

<script>
    function DocumentReadyFunc()
    {
        PrintLogMessage("ShowSelectedArticle", "DocumentReadyFunc", "init", LOG_LEVEL_INFO)
        tabMenuManager.ActiveSecondMenu()
        tabMenuManager.ChangeSecondMenu("SHOW SELECTED ARTICLE", "/Blog/ShowSelectedArticle?articleID=" + @ViewBag.article.articleID)
    }
</script>