
@{
    ViewBag.Title = "UploadNewArticle";
    Layout = "~/Views/Shared/_MyBlogBigLayout.cshtml";
}
<!-- Post -->
<section class="post">

    <!-- Form -->
    <h2>Upload new post</h2>

    <form method="post" action="#">
        @Html.AntiForgeryToken()
        <div class="row gtr-uniform">
            <div class="col-12">
                <input type="text" placeholder="Title" id="title" />
            </div>

            <div class="col-12">
                <textarea placeholder="Highlight" rows="3" id="highlightText"></textarea>
            </div>

            <div class="col-12">
                <input type="text" placeholder="Image URL" id="imgUrl" />
            </div>

            <div class="col-12">
                <textarea placeholder="Content" rows="6" id="articleContent"></textarea>
            </div>

            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>