@using MyBlog.Models;
@using System.Data.Entity;

@model Article
@{
    ViewBag.Title = "UploadNewArticle";
    Layout = "~/Views/Shared/_MyBlogBigLayout.cshtml";

    if (IsPost)
    {
        string title = Request.Form["title"];
        string highlightText = Request.Form["highlightText"];
        string imgUrl = Request.Form["imgUrl"];
        string articleContent = Request.Form["articleContent"];
    }
}
<!-- Post -->
<section class="post">

    <!-- Form -->
    <h2>Upload new post</h2>
    @* TODO: Post API req -> 하는걸 해보자 *@
    <form ng-app="createPost" ng-submit="uploadNewPost()" ng-controller="uploadNewPost">@*@Url.Action("UploadNewArticle", "Blog")*@
        @Html.AntiForgeryToken()
        <div class="row gtr-uniform">
            <div class="col-12">
                <input type="text" placeholder="Title" id="title" name="title" ng-model="title" required/>
                @*@Html.TextBoxFor(articleModel => articleModel.title, new { placeholder = "Title"})*@
            </div>

            <div class="col-12">
                <textarea placeholder="Highlight" rows="3" id="highlightText" name="highlightText" ng-model="highlightText" required></textarea>
                @*@Html.TextAreaFor(articleModel => articleModel.highlightText, new { placeholder = "Highlight", rows = "3"})*@
            </div>

            <div class="col-12">
                <input type="text" placeholder="Image URL" id="imgUrl" name="imgUrl" ng-model="imgUrl" required/>
                @*@Html.TextBoxFor(articleModel => articleModel.imgUrl, new { placeholder = "Image URL"})*@
            </div>

            <div class="col-12">
                <textarea placeholder="Content" rows="6" id="articleContent" name="articleContent" ng-model="articleContent" required></textarea>
                @*@Html.TextAreaFor(articleModel => articleModel.articleContent, new { placeholder = "Content", rows = "6" })*@
            </div>

            <input id="clientToken" name="clientToken" type="hidden" ng-init="token=''" ng-model="token" ng-value="" ng-change="tokenGenerated($event)" value="{{ token }}"/>

            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>

<script>
    function DocumentReadyFunc()
    {
        PrintLogMessage("WriteNewArticle", "DocumentReadyFunc", "init", LOG_LEVEL_INFO)
        tabMenuManager.ActiveSecondMenu()
        tabMenuManager.ChangeSecondMenu("WRITE NEW ARTICLE", "/Blog/WriteNewArticle")

        authManager.CurrentAuthStatus(function ()
        {
            authManager.GenerateVerifyToken(function (generatedToken) {
                $("#clientToken").val(generatedToken)
            })
        },
        function ()
        {
            $(location).attr('href', '/Blog/SignIn');
        })        
    }
</script>